<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{30}.%M - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.gpc4j.easements.services" level="DEBUG"/>
  <logger name="org.gpc4j.easements.services.AIService" level="DEBUG"/>
  <logger name="org.gpc4j.easements.services.GeminiService" level="DEBUG"/>
  <logger name="org.gpc4j.easements.tasks.PageRefreshTask" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
